/*Style For Button */
.legal-solution-btn {
    background-color: #B68C5A;
}

/* Font Style */
.font {
    font-family: 'EB Garamond';
}

.font-poppins {
    font-family: 'Poppins';
}

/* Style for banner */
.banner-text {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    color: white;
}

.color-overlay {
    padding-left: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-box {
    width: 25%;
    margin-left: 400px;
}

/* Practice area */
.practice-area {
    margin-top: 700px;
    text-align: center;
}

.card>img {
    padding-left: 40px;
}

.card-group {
    text-align: center;
}